
.auth {
  width: 100vw;
  height: 100vh;
  background-image: url(../../images/auth-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw 100vh;
}

.auth__overlay {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__window {
  display: flex;
  flex-direction: column;
  width: 409px;
  min-height: 382px;
  background: #FFFFFF;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.auth__title {
  width: calc(100% - 64px);
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding: 0;
  margin: 32px 32px;
}

.auth__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 7px 32px;
  padding: 0;
  transition: color 0.1s;
}

.auth__text_password {
  margin-top: 3px;
}

.auth__input {
  width: calc(100% - 64px);
  height: 50px;
  padding: 0;
  margin: 0 32px 7px;
  border: 1px solid #C9CACC;
  border-radius: 4px;
  box-sizing: border-box;
  transition: color 0.1s;
}

.auth__input:focus {
  outline: none;
}

.auth__span {
  width: calc(100% - 64px);
  height: 14.4px;
  margin: 0 32px;
  display: flex;
  align-items: flex-start;
}

.auth__error {
  width:100%;
  height: 14px;
  padding: 0;
  
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #EB1717;
}

.auth__button {
  width: calc(100% - 64px);
  height: 50px;
  padding: 0;
  margin: 11px 32px 32px;
  box-sizing: border-box;
  background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.12s;
}

.auth__button:hover {
  opacity: 0.8;
}

.auth__button:active {
  opacity: 1;
  filter: brightness(0.8);
}

.error {
  color: #EB1717;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 100ms, transform 100ms;
}
.alert-exit {
  opacity: 1;
  transform: scale(0.9);
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 100ms, transform 100ms;
}
